{% extends 'base.html' %}


{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quotes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="loadQuotes()">Home</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success" id="quote_create_id" data-toggle="modal"
                            data-target="#staticBackdrop1" onclick="quoteCreateForm()">
                        +Добавить
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" id="login_id" data-toggle="modal"
                            data-target="#staticBackdrop">
                        Вход
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout_id" style="display: none" onclick="logout()">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning alert-dismissible fade" role="alert">
        some
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container quotes"></div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">admin 123</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form onsubmit="event.preventDefault()">
                    <div>
                        <label>Username:<input type="text" id="username_id" required></label>
                        <label>Password:<input type="password" id="password_id" required></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="login()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form onsubmit="event.preventDefault()" id="quotecreateform_id">
                    <div class="modal-body" id="quoteform_id">
                        <label id="someid_1">Имя: <input type="text" id="input_name_id" class="create-inputs" required></label><br>
                        <label id="someid_2">Цитата: <textarea class="create-inputs" required
                                                               id="quote_input_id"></textarea></label><br>
                        <label id="someid_3">Почта: <input type="email" class="create-inputs" required
                                                           id="mail_input_id"></label><br>
                        <label id="someid_4">Статус:
                            <select id="select_id">
                                <option value="new">Новое</option>
                                <option value="checked">Проверенное</option>
                            </select>
                        </label><br>
                        <label id="someid_5">Рейтинг: <input type="text" id="rating_input_id"
                                                             class="create-inputs"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="quotesavebutton_id">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




{% endblock %}

